.AddressInput label {
  display: block;
  margin-bottom: 5px;
}

.checkboxAddressContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -20px;
}

input.newContractAddress {
  color: black;
  font-size: 20px;
  padding: 20px;
  height: 20px;
  background-color: white;
  justify-content: center;
  margin-top: -5px;
  
}

.newContractAddressDiv {
  display: flex;
  justify-content:center;
  width: 300px;
  margin-left: -20px;
}

span.CheckBoxTextMain {
  padding: 0;
  margin: 0;
  text-align: left;
  color: black;
  font-weight: 400;
  padding-bottom: 20px;
}

.AddressInput input[type="text"] {
  width: 60%;

  /* padding: 12px 20px; */

  box-sizing: border-box;

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  border: none;

  outline: none;

  border-radius: 3px;
}

input[type="text"]:hover {
  border: 2px solid #3c70f5;
}
